{% assign emptyarray = "" | split: "," %}
{% assign data = include.data | default: emptyarray %}

{% if include.tag_filter %}
  {% assign tag = include.tag_filter | downcase %}
  {% assign filtered_data = "" | split: "," %}
  {% for d in data %}
    {% assign tag_str = d.tags | join: "," | downcase %}
    {% if tag_str contains tag %}
      {% assign filtered_data = filtered_data | push: d %}
    {% endif %}
  {% endfor %}
  {% assign data = filtered_data %}
{% endif %}

{% for d in data %}
  {% assign style = d.style | default: include.style %}
  {% include {{ include.component | append: ".html" }}
    title=d.title
    subtitle=d.subtitle
    description=d.description
    image=d.image
    tags=d.tags
    repo=d.repo
    link=d.link
    style=style
  %}
{% endfor %}
