{% if include.tags %}
  {% assign tags = include.tags
    | object_items
    | join: ","
    | downcase
    | split: ","
    | array_filter
    | join: ","
    | regex_replace: "\s+", "-"
    | split: ","
    | uniq %}
{% else %}
  {% assign all_tags = "" | split: "," %}
  {% for item in site.data.projects %}
    {% if item.tags %}
      {% assign all_tags = all_tags | concat: item.tags %}
    {% endif %}
  {% endfor %}
  {% assign tags = all_tags | map: "downcase" | uniq | sort %}
{% endif %}

{% assign link = include.link | default: page.dir %}

{% assign current_search = page.url | split: '?' | last | uri_decode %}
{% assign current_tag = "" %}
{% if current_search contains "tag:" %}
  {% assign tag_parts = current_search | split: "tag:" %}
  {% assign current_tag = tag_parts[1] | downcase | strip | replace: '"', '' %}
{% endif %}

{% if tags.size > 0 %}
  <div class="tags">
    <a
      href="{{ link }}"
      class="tag{% if current_tag == "" %} selected{% endif %}"
      data-tooltip="Show all items"
    >
      All
    </a>

    {% for tag in tags %}
      <a
        href="{{ link }}?search=&quot;tag: {{ tag }}&quot;"
        class="tag{% if tag == current_tag %} selected{% endif %}"
        data-tooltip="Show items with the tag &quot;{{ tag }}&quot;"
      >
        {{ tag }}
      </a>
    {% endfor %}
  </div>
{% endif %}
